/* design-01-index.html */

*{ margin:0;padding:0; box-sizing: border-box; }
body{background-color: #fff; min-width: 1200px; height: 100%; font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
a{ text-decoration:none;}
.header{ height: 70px; width: 100%; z-index: 100; background-image: linear-gradient(120deg, #d919f5, #1cd2f5);}
.header h1{ width: 1200px; }












.footer{ color: #b1b1b1; text-align:center; background-color: #262626; border-top: 1px solid #3a3a3a; border-bottom: 1px solid #333; min-width:1200px; margin: 0 auto; }
.footer .content{ font-size:14px; padding:40px 0; opacity: 0.7;  }
.footer p{line-height:38px; }
.footer p a{ color:#777; text-decoration:none;}

.subfooter{background:rgba(0, 0, 0, 0.9); height: 38px; font-size:14px; line-height:38px; color: #777; text-align:center; opacity: 0.5; }
.subfooter a{ font-size:14px; text-decoration:none; }




.main{ min-height: 100px; }
.main .warp{ background: #fff; border-bottom: #e7e7e7 solid 1px; }
.main .warp .con{ min-height: 200px;width: 1200px; margin: 0 auto; padding: 40px  10px 0;  }
.main .warp .con h2{ color: #5d6d7e; font-size: 30px; line-height: 72px;  }
.main .warp .con p{ color: #b8c4ce; font-size: 16px; line-height: 24px;  }

.main .content{ background: #f4f4f4; }
.main .content .con{ min-height: 600px;width: 1200px; margin: 0 auto; padding: 50px  10px;  }
.main .content .con .image{ margin: auto auto; min-height: 200px; max-width: 760px;  }
.main .content .con .image img{display: block; width: 100%; margin: auto auto;  }

.main .content .page{ width: 1200px; height: 180px;  margin: 0 auto;  }
.main .content .page ul{ width: 640px; height: 50px; margin: auto; }
.main .content .page ul li{list-style-type:none; float: left; margin: auto 16px; }
.main .content .page ul li a{ display: block; text-decoration:none; color: #333; border: 1px #ccc solid; padding:5px 10px; }



